.mainInfo > img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.isDuplicate .MessageContent{
    margin-left: 65px;
}
.MessageRow{
    margin-top: 10px;
    padding: 4px;
    justify-content: space-between;
}

.MessageRow.isDuplicate{
    margin-top: 0;
    margin-bottom: 0; 
    
}

.MessageContent{
    margin-left: 10px;
    justify-content: space-around;
    width: 100%;
}

.MessagesBlocksMain > div > div > *{
    padding-right: 10px;
    width: 100%;
    padding-left: 10px;
}
.MessageContent  h2{
    font-size: 16px;
    color: white;
}
 
.dateFormat{
    color: var(--default-color-messange-hover);
    margin-left: 20px;
}
.MessageContent *.dateFormat{
    font-size: 12px;
}

.MessageContent > .row{
    align-items: flex-end;
}

.MessageContent * {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.MessageContentImage{
    max-width: 150px;
    height: auto;
}
.MessageRow:hover{
    background-color: var(--default-color-messange-background);
}

.mainText{
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: rgb(190, 190, 190);
    width: 100%;
    word-break:break-all;
}
.HoverUp{
    z-index: 200;
    height: 100%;
    width: 100%;
    position: absolute;
}

.fileVisualize{
    width: 100%;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
}

.fileContainerMessage{
    justify-content: space-between;
    max-width: 550px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.DownloadButton{
    align-self: flex-start;
    justify-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}
.fileContainerMessage[data-isdocument=false] .MessageContentFileName{
    display: none;
}
.fileContainerMessage[data-isdocument=true] .MessageContentImage{
    width: 30px;
}
.fileContainerMessage[data-isdocument=true]{
    background-color: #292b2f;
}
.MessageContentFileName{
    width: 100%;
    color: white;
    align-self: flex-start;
    justify-self: flex-start;
    overflow: hidden;
    text-overflow:ellipsis
}