
.MessagesBlock{
    width: 100%;
    height: 100vh;
    background-color: var(--color-main-background);
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

/* TODO */
// .MessagesBlock[data-drag-file=true]{
 
// }

.userBottomElement{
    width: 100%;
    height: 60px; 
    background-color: var(--color-user-bottom);
}

.headerBlock{
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    z-index: 200;
}  

.leftElement{
    width: 230px;
    min-height: 100%;
    background-color: var(--color-navbar);
    color: rgb(88, 88, 88);
    justify-content: space-between;
}

#friends{
    width: 32px;
    height: 32px;
}

#friends > path{
    width: 100%;
    height: 100%;
}
.friendsLink{
    cursor: pointer;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition-duration: .33s;
    transition-property: background-color;
    padding-left:20px;
}
.friendsLink:hover #main {
    fill: var(--default-color-messange-hover);
}
.friendsLink:hover{
    background-color: var(--default-color-messange-background);
}
#main{
    transition-property: fill;
    transition-duration: .33s;
}

.friendsLink:hover span {
    color: var(--default-color-messange-hover);
}
.friendsLink a{
    margin-left: 10px;
    justify-content: flex-end;
}
.friendsLink span{
    color: var(--default-color-messange);
    /* font-weight: bold; */
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Source Sans Pro;
    margin-bottom: 2px;
    transition-property: color;
    transition-duration: .33s;
}

.Messages-Friends{
    padding-left: 10px;
}

.searchContainer > input{
    background-color: #202225;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 3px;
    text-align: left;
    padding: 4px;
    font-size: 16px;
    color: var(--default-color-messange);
    font-family: Source Sans Pro;
    letter-spacing: 1px;
}
.MessagesHeader{
    padding-right: 15px;
    justify-content: space-between;
    cursor:default;
    margin-top: 20px;
}

.MessagesHeader > span:nth-child(2){
    font-size: 18px;
    color: var(--default-color-messange-hover);
}
.MessagesHeader:hover span{
    color: var(--default-color-messange-hover);
}
.MessagesHeader > span{
    font-size: 14px;
    color: var(--default-color-messange);
    font-family: Source Sans Pro;
    letter-spacing: 1px;  
    text-transform: uppercase;
    transition-property: color;
    transition-duration: .33s;
}

.tooltip{
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 57% 75%, 50% 100%, 38% 75%, 0% 75%);
    background-color: rgb(36, 35, 35);
    width: 70px;
    height: 50px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    top: -50px;
    left: -25px;
    display: none;
    justify-items: center;
    justify-content: center;
}

.ButtonProfile:after{
    padding-bottom: 25px;
  }

#settingsSVG ~ .tooltip{
    width: 130px;
    padding-top: 10px;
}
#settingsSVG:hover ~ .tooltip,
.PrivateChannelCreated:hover ~ .tooltip{
    display: block;
}

.PrivateChannelCreated{
    cursor: pointer;
}

.tooltip span{
    font-size: 10px;
    font-weight: bold;
    font-family: Source Sans Pro;
    color: var(--default-color-messange-hover);
}

.AddedInMessages{
    position: relative;
}
.AddedInMessages:after{
    padding-bottom: 17px;
}

.messageContainer{
    padding-right: 9px;
}
.userInfo span{
    color: var(--default-color-messange);
    align-self: flex-start;
}
.userInfo {
    justify-self: flex-start;
    margin-left: 10px;
}

.userRow img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.Messages-Friends{
    height: 80%;
}
.MessagesContainer{
    height: calc(100% - 15px);
}
.messageContainer{
    height: 100%;
    overflow: hidden scroll;
}

.participants_block::-webkit-scrollbar{
    width: 7px;
    background-color: var(--color-navbar);
}

.participants_block::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:black;
}

.messageContainer::-webkit-scrollbar{
    width: 3px;
    background-color: var(--color-navbar);
}


.messageContainer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:black;
}

.userBottomElement img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userBottomElement{
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.buttonsRight > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ButtonProfile .tooltip{
    left: -55px;
}

.headerMainText{
    width: 100%;
    background-color: var(--color-navbar);
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.headerMainText span{
    color: white;
    /* font-family: Source Sans Pro; */
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 21px;
    text-overflow: ellipsis;
}
.OnlineStatusMessages.hidden{
    display: none;
}
.OnlineStatusMessages{
    width: 13px;
    height: 13px;
    /* position: absolute; */
    background-color: black;
    border: 3px solid rgb(87, 88, 87);
    border-radius: 50%;
    margin-left: 10px;
}

.OnlineStatusMessages.IsOnline{
    border: 1px solid black;
    background-color: rgb(31, 156, 31);
}
.userInfoHeader{
    height: 50%;
    justify-items:center;
    align-items: center;
}

.toolbar {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.toolbar > button{
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
}
.SearchContainer{
    height: 32px;
    position: relative;

}

.SearchInput-Rows{
    margin-right: 20px; 
    position: relative;
}
.addFriendInChat{
    margin-right: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.SearchContainer{
    background-color: #202225;
    cursor: pointer;
    border-radius: 3px;
    align-content: center;
    align-items: center; 
}

.SearchContainer > input{
    width: 190px;
    background-color: #202225;
    text-align: left;
    padding: 4px;
    font-size: 16px;
    color: var(--default-color-messange);
    font-family: Source Sans Pro;
    letter-spacing: 1px;
}
.SearchContainer > input:focus{
    width: 250px;
}
input:focus{
    outline-offset: none;
    outline:none;
}
.toolbar > button:hover .pathColor{
    fill: var(--default-color-messange-hover);
}

.clearSearch{
    position: relative;
    margin-right: 6px;
}
.iconContainer > svg{
    transform: rotate(90deg);
    transition-duration: .33s;
    transition-property: transform;
}

.iconContainer > svg.hidden{
    /* opacity: 0; */
    display: none;
    transform: none;
}

.iconContainer{
    height: 24px;
}
.mainContent{
    width: 100%;
    height: calc(100% - 50px);
}
.messagesContainerMain{
    width: 100%;
    height: 100%;
}

.MessagesBlocksMain > div{
    justify-content: flex-end;
    height: 100%;
}
.MessagesBlocksMain > div > div{
    height: 100%;

}
.MessagesBlocksMain{
    width: 100%; 
    height: 100%;
    overflow: hidden scroll; 
}
.MessagesBlocksMain{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 40px;
    justify-content: flex-end;
}
.participants_block{
    width: 255px;
    background-color: rgb(41, 40, 40);
    padding: 20px;
}

.MessagesStartContainer{
    width: 100%;
    border-bottom: 1px solid rgb(94, 90, 90);
    padding-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.MessagesStartContainer img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.InputMessage{
    margin-top: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* background-color: violet; */
}

.MessagesStartContainer > span{
    color: white;
    font-size: 31px;
    color: white;
    text-align: left;
    margin-top: 10px;
    font-family: Source Sans Pro;
    cursor: default;
}
.MessagesStartContainer > span.subHeader h1{
    color: var(--default-color-messange-hover);
    margin-left: 5px;
    font-size: 16px;
}
.MessagesStartContainer > span.subHeader{
    color: var(--default-color-messange);
    font-size: 16px;
}

.MessagesBlocksMain::-webkit-scrollbar{
    width: 9px;
    background-color: var(--color-main-background);
}
.MessagesBlocksMain::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: var(--color-navbar);
}
.MessagesBlocksMain::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 25px;
    background-color:black;
}


.InputMessageBlock{
    /* justify-content: center; */
    /* align-items: center; */
    padding:15px;
    /* padding-bottom: 0; */
    margin-bottom: 10px;
}
.InputFile{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.InputMessageBlock > button{
    cursor: pointer;
    background: transparent;
}
.InputMessageBlock {
    overflow-y: scroll;
}
.InputMessageBlock > * {
    margin-right: 15px;
    margin-left: 15px;
}
.InputMessageBlock{
    width: 98%;
    min-height: 50px;
    max-height: 200px;
    border-radius: 10px;
    background-color: #202427;
}

.InputText{
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(190, 190, 190);
    font-size: 18px;
    overflow-wrap: break-word;
    overflow-y: hidden;
    resize:none;
    position: relative;
    /* font-family: 'Poiret One', cursive; */
}

.InputMessageBlock::-webkit-scrollbar{
    width: 7px;
    background-color: var(--color-navbar);
}

.InputMessageBlock::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px; 
    background-color:black;
}

.emoji_smile_icon_vector{
    width: 24px;
    height: 24px;
    background-image: url('../images/smile_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 0;
} 
.participants_block{
    padding-bottom: 5px;
    padding-top: 25px;
    font-weight: bold;
    overflow-y: scroll;
}
.ParticianitsHeader > span{
    color: var(--default-color-messange);
    text-transform: uppercase;
    text-align: left;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    font-size: 13px;

}

.modalWindowContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 12000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.753);

}

.modalWindowContainer[data-close=true]{
    display: none;
}


.SearchContainerUsers {
    position: absolute;
    width: 100%;
    // height: 40px;
    background-color: var(--color-navbar);
    margin-top: 45px;
    border: 1px solid var(--color-main-background);
    border-top: none;
    box-shadow: 2px 1px 4px #00000029;
    border-radius: 5px;
    justify-content: center;

    .SearchContainerUser{
        padding: 5px 10px 5px 10px;
        cursor: pointer;
        // background-color: red;
    }

    .SearchContainerUser:hover{
        background-color: var(--default-color-messange-background);
    }
    .UserAvatarContainerSearch{
        width: 100%;

        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
    .usernameSearch{
        margin-left: 10px;
        align-items: center;
        max-width: 80%;
        // overflow: hidden;

        span{
            font-size: 14px;
            width: 100%;
            text-align: left;
            overflow: hidden;
            text-overflow:ellipsis
        }
    }
}