@import 'variables';
.PreloadContainer{
    width: 100vw;
    height: 100vh;
    z-index: 2000000;
    background-color: $color-main-background;
    justify-content: center;
    align-items: center;
    transition-property: opacity,transform;
    transition-duration: .63s;
    position: absolute;
    
}

.Shark{
    width: 150px;
    height: 150px;
}

.PreloadContainer span{
    color: white;
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold; 
    letter-spacing: 1px;
 
}

.hidden{
    opacity: 0;
    /* transform: scale(0); */
}