@import 'variables';
.UserProfile{
    width: 100%;
    height: 100%;
}

.UserProfileContainer{
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: absolute;
    background-color: #222020;
    // visibility: hidden;
}
.UserProfile > * {
    padding-top: 60px;
}
.UserProfile {

    justify-content: flex-end;

    .navbar{
        width: 250px;
        height: 100%;
        background-color: $color-navbar;
        padding-left: 20px;
        justify-self: flex-end;
    }  
    .category{
        padding-right: 10px;
    }

    .category::after{
        content: '';
        width: 100%;
        height: 1px;
        margin-top: 5px; 
        margin-bottom: 5px;
        background-color: $color-messange-background;
    }

    .category_header{
        color: $color-messange;
        font-family: $font-text-header;
        // letter-spacing: 1px;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        padding-left: 10px;
        font-size: 12px;
        cursor: default;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .category_list {
        Button{
            background-color: transparent;
            text-align: left;
            padding: 6px;
            padding-left: 10px;
            color: $color-messange;
            border-radius: 4px;
            font-size: 15px;
            transition-property: color, background-color;
            transition-duration: .05s;
            cursor: pointer;
            font-family: $font-text;
            word-spacing: 1px;
            margin-bottom: 3px;
            margin-top: 3px;
        }
        Button::selection,
        Button:hover{
            background-color: $color-messange-background;
            color: $color-messange-hover;
        }

    }

    .category_list Button.quit{
        color: rgb(209, 62, 62);
    }

    .category_list Button.quit:hover{
        background-color: rgba(209, 62, 62, 0.120);
    }

    .socialLinks{
        margin-top: 10px;
    }

    .socialLinks {
        a{
            margin-right: 5px;
            margin-left: 5px;
        }
        a:hover{
            path{
                fill: $color-messange-hover;
            }
        }
        path{
            fill: $color-messange;
            transition-property: fill;
            transition-duration: .15s;
        }
    }
    
    .user_content{
        margin-left: 40px;
        background-color: $color-main-background;
        width: 1300px;
        padding-right: 450px;
        padding-left: 40px;
        justify-self: flex-end;


        .categoryHeader{
            color: white;
            font-size: 16px;
            text-align: left;
        }
    }

}