.userName_status{
    margin-left: 10px;
    justify-content: center;
    width: calc(100% - 35px);
    cursor: pointer;
}

.userRow{
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    padding: 10px;
    padding-left: 5px;
    padding-right: 12px;
    border-radius: 3px;
    cursor: pointer;
}
.userRow:hover{
    background-color: var(--default-color-messange-background);
}

.userRow:hover .userName_status span{
    color: var(--default-color-messange-hover);   
}

.userName_status span{
    font-size: 15px;
    /* width: 100%; */
    /* font-family: Source Sans Pro; */
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--default-color-messange);  
    overflow: hidden hidden;
    text-overflow:ellipsis;
    text-align: left;
}

.OnlineStatus{
    width: 10px;
    height: 10px;
    /* position: absolute; */
    background-color: black;
    border: 2px solid rgb(87, 88, 87);
    border-radius: 50%;
    right: 2px;
    bottom: 5px;
}

.OnlineStatus.IsOnline{
    border: none;
    background-color: rgb(31, 156, 31);
}

.ImageContainer{
    position: relative;
}

.OnlineStatusContainer{
    padding: 3px;
    /* padding-bottom: 0; */
    position: absolute;
    background-color: rgb(27, 25, 25);
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
}

.userRow:hover .OnlineStatusContainer{
    background-color: var(--default-color-messange-background);
}
