// deprecated
:root{
    --default-color-messange : #8e9297;
    --default-color-messange-hover : #dbe2eb;
    --default-color-messange-background : #303235;
}

$color-messange : #8e9297;
$color-messange-hover : #dbe2eb;
$color-messange-background : #303235;
$color-main-background : #262D34;
$color-navbar : #1b1919;